.title-container {
  width: 100%;
  height: 60px;
  background-color: #f3a8c2;
}
.main-title {
  margin: 0
}

@media only screen and (max-width: 421px) and (min-width: 322px) {
  .main-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 321px) {
  .main-title {
    font-size: 20px;
  }
}